body{
    /* overflow:hidden; */
    /* background-image: url('asset/grnd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%; */
}
/* .topvideo{
    position: relative;
    bottom: +3480px; 
    z-index: -1;
    height:min-content;
    display: none; 
} */
#intro{
    height: 200px;
    padding-top: 4%;
    background-color: #05294b;
}
#intro h2{
    font-size: 40px;
    /* text-shadow: 3px 3px #4376b9; */
}
h6{
    font-size: 30px;
}
#project h6{
    color: #fff;
    padding-bottom: 40px;
}
#mee{
    position: relative;
    text-align: center;
    height: 400px;
} 
#think{
    position: relative;
    height: 300px;
}
nav ul li a {
    color: #fff !important;
}
.skills {
    text-align: center;   
}

@media  (max-width:767px) {
    img.hidden-xs{
        display: none !important;
    }
    
}
bg-info{
    color: #ffffff;
 
}